USE [master]
GO
/****** Object:  Database [DA_QuanLiBanCaPhe]    Script Date: 11/13/2025 5:58:12 PM ******/
CREATE DATABASE [DA_QuanLiBanCaPhe]

/***
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DA_QuanLiBanCaPhe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LMDSQL\MSSQL\DATA\DA_QuanLiBanCaPhe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DA_QuanLiBanCaPhe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.LMDSQL\MSSQL\DATA\DA_QuanLiBanCaPhe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
 ***/

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DA_QuanLiBanCaPhe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DA_QuanLiBanCaPhe]
GO


	/****** Object:  User [KenG_Kanowaki\KenG]    Script Date: 11/13/2025 5:58:12 PM ******/
	--CREATE USER [KenG_Kanowaki\KenG] FOR LOGIN [KenG_Kanowaki\KenG] WITH DEFAULT_SCHEMA=[dbo]
	--GO
	/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 11/13/2025 5:58:12 PM ******/
	--SET ANSI_NULLS ON
	--GO
	--SET QUOTED_IDENTIFIER ON
	--GO


CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuKho]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuKho](
	[MaPhieu] [int] NOT NULL,
	[MaNL] [int] NOT NULL,
	[SoLuong] [decimal](10, 2) NOT NULL,
	[GiaNhap] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DinhLuong]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhLuong](
	[MaSP] [int] NOT NULL,
	[MaNL] [int] NOT NULL,
	[SoLuongCan] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NOT NULL,
	[TongTien] [decimal](12, 2) NULL,
	[TrangThai] [nvarchar](30) NULL,
	[MaKM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SoDienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[LoaiKH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
	[LoaiKM] [nvarchar](20) NULL,
	[GiaTri] [decimal](5, 2) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai_SanPham]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai_SanPham](
	[MaKM] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNL] [int] IDENTITY(1,1) NOT NULL,
	[TenNL] [nvarchar](100) NOT NULL,
	[DonViTinh] [nvarchar](20) NOT NULL,
	[SoLuongTon] [decimal](10, 2) NULL,
	[NguongCanhBao] [decimal](10, 2) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[NgayVaoLam] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKho]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKho](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NULL,
	[LoaiPhieu] [nvarchar](10) NULL,
	[MaNV] [int] NOT NULL,
	[MaNCC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[LoaiSP] [nvarchar](50) NULL,
	[DonGia] [decimal](10, 2) NOT NULL,
	[DonVi] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [nvarchar](256) NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaVaiTro] [int] NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[HinhThuc] [nvarchar](50) NULL,
	[SoTien] [decimal](12, 2) NULL,
	[NgayTT] [datetime] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 11/13/2025 5:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 2, 2, CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (1, 4, 1, CAST(30000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (2, 1, 1, CAST(20000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[ChiTietPhieuKho] ([MaPhieu], [MaNL], [SoLuong], [GiaNhap]) VALUES (1, 1, CAST(50.00 AS Decimal(10, 2)), CAST(150000.00 AS Decimal(12, 2)))
INSERT [dbo].[ChiTietPhieuKho] ([MaPhieu], [MaNL], [SoLuong], [GiaNhap]) VALUES (1, 3, CAST(0.05 AS Decimal(10, 2)), CAST(25000.00 AS Decimal(12, 2)))
INSERT [dbo].[ChiTietPhieuKho] ([MaPhieu], [MaNL], [SoLuong], [GiaNhap]) VALUES (2, 2, CAST(100.00 AS Decimal(10, 2)), CAST(30000.00 AS Decimal(12, 2)))
GO
INSERT [dbo].[DinhLuong] ([MaSP], [MaNL], [SoLuongCan]) VALUES (1, 1, CAST(0.02 AS Decimal(10, 2)))
INSERT [dbo].[DinhLuong] ([MaSP], [MaNL], [SoLuongCan]) VALUES (1, 3, CAST(0.01 AS Decimal(10, 2)))
INSERT [dbo].[DinhLuong] ([MaSP], [MaNL], [SoLuongCan]) VALUES (2, 1, CAST(0.02 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDH], [NgayLap], [MaKH], [MaNV], [TongTien], [TrangThai], [MaKM]) VALUES (1, CAST(N'2025-10-25T08:30:00.000' AS DateTime), 1, 3, CAST(72000.00 AS Decimal(12, 2)), N'Đã hoàn thành', 1)
INSERT [dbo].[DonHang] ([MaDH], [NgayLap], [MaKH], [MaNV], [TongTien], [TrangThai], [MaKM]) VALUES (2, CAST(N'2025-10-25T09:15:00.000' AS DateTime), 2, 3, CAST(20000.00 AS Decimal(12, 2)), N'Đã hoàn thành', NULL)
INSERT [dbo].[DonHang] ([MaDH], [NgayLap], [MaKH], [MaNV], [TongTien], [TrangThai], [MaKM]) VALUES (3, CAST(N'2025-10-26T10:00:00.000' AS DateTime), 3, 3, CAST(36000.00 AS Decimal(12, 2)), N'Đang xử lý', NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai], [DiaChi], [LoaiKH]) VALUES (1, N'Trần Anh Hùng', N'0911112222', N'123 Lê Lợi, Q1, TP.HCM', N'VIP')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai], [DiaChi], [LoaiKH]) VALUES (2, N'Nguyễn Thị Lan', N'0922223333', N'456 Nguyễn Trãi, Q5, TP.HCM', N'Thuong')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SoDienThoai], [DiaChi], [LoaiKH]) VALUES (3, N'Khách vãng lai', NULL, NULL, N'Thuong')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [MoTa], [LoaiKM], [GiaTri], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (1, N'Giảm 10% tổng hóa đơn', N'Áp dụng cho mọi hóa đơn trên 50k', N'HoaDon', CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-10-01' AS Date), CAST(N'2025-10-31' AS Date), N'Đang áp dụng')
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [MoTa], [LoaiKM], [GiaTri], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (2, N'Giảm 20% Matcha', N'Giảm giá 20% cho dòng sản phẩm Matcha', N'SanPham', CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-10-15' AS Date), CAST(N'2025-12-31' AS Date), N'Đang áp dụng')
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [MoTa], [LoaiKM], [GiaTri], [NgayBatDau], [NgayKetThuc], [TrangThai]) VALUES (3, N'Khai trương (Hết hạn)', N'Giảm giá 15%', N'HoaDon', CAST(15.00 AS Decimal(5, 2)), CAST(N'2023-01-01' AS Date), CAST(N'2023-01-31' AS Date), N'Đã kết thúc')
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
INSERT [dbo].[KhuyenMai_SanPham] ([MaKM], [MaSP]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON 

INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonViTinh], [SoLuongTon], [NguongCanhBao], [TrangThai]) VALUES (1, N'Hạt Cà Phê Robusta', N'kg', CAST(50.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), N'Đang kinh doanh')
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonViTinh], [SoLuongTon], [NguongCanhBao], [TrangThai]) VALUES (2, N'Sữa Tươi Không Đường', N'lít', CAST(25.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), N'Đang kinh doanh')
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonViTinh], [SoLuongTon], [NguongCanhBao], [TrangThai]) VALUES (3, N'Đường Cát Trắng', N'kg', CAST(0.05 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), N'Đang kinh doanh')
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai]) VALUES (1, N'Cty Cà Phê Trung Nguyên', N'10 Đặng Lê Nguyên Vũ, Buôn Ma Thuột', N'02623123456')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai]) VALUES (2, N'Cty Sữa Vinamilk', N'Số 10, Tân Trào, Q7, TP.HCM', N'02854155555')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai]) VALUES (3, N'Cty Nguyên Liệu Pha Chế ABC', N'22 Hàng Buồm, Hà Nội', N'0243111222')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [SoDienThoai], [NgayVaoLam], [TrangThai]) VALUES (1, N'Lê Văn Định', N'Chủ cửa hàng', N'0901234567', CAST(N'2023-01-15' AS Date), N'Đang làm việc')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [SoDienThoai], [NgayVaoLam], [TrangThai]) VALUES (2, N'Lê Minh Đức', N'Quản lý', N'0912345678', CAST(N'2023-03-20' AS Date), N'Đang làm việc')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [SoDienThoai], [NgayVaoLam], [TrangThai]) VALUES (3, N'Bùi Phước Hậu', N'Thu ngân', N'0987654321', CAST(N'2023-05-10' AS Date), N'Đang làm việc')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuKho] ON 

INSERT [dbo].[PhieuKho] ([MaPhieu], [NgayLap], [LoaiPhieu], [MaNV], [MaNCC]) VALUES (1, CAST(N'2025-10-01T10:00:00.000' AS DateTime), N'Nhap', 1, 1)
INSERT [dbo].[PhieuKho] ([MaPhieu], [NgayLap], [LoaiPhieu], [MaNV], [MaNCC]) VALUES (2, CAST(N'2025-10-01T11:00:00.000' AS DateTime), N'Nhap', 1, 2)
INSERT [dbo].[PhieuKho] ([MaPhieu], [NgayLap], [LoaiPhieu], [MaNV], [MaNCC]) VALUES (3, CAST(N'2025-10-02T14:00:00.000' AS DateTime), N'Nhap', 1, 3)
SET IDENTITY_INSERT [dbo].[PhieuKho] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [LoaiSP], [DonGia], [DonVi], [TrangThai]) VALUES (1, N'Cà Phê Đen', N'Cà phê', CAST(20000.00 AS Decimal(10, 2)), N'Ly', N'Còn bán')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [LoaiSP], [DonGia], [DonVi], [TrangThai]) VALUES (2, N'Cà Phê Sữa', N'Cà phê', CAST(25000.00 AS Decimal(10, 2)), N'Ly', N'Còn bán')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [LoaiSP], [DonGia], [DonVi], [TrangThai]) VALUES (3, N'Matcha Latte', N'Trà', CAST(45000.00 AS Decimal(10, 2)), N'Ly', N'Còn bán')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV], [MaVaiTro], [TrangThai]) VALUES (N'dinh', N'123', 1, 1, 1)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV], [MaVaiTro], [TrangThai]) VALUES (N'duc', N'123', 2, 2, 1)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV], [MaVaiTro], [TrangThai]) VALUES (N'hau', N'123', 3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[ThanhToan] ON 

INSERT [dbo].[ThanhToan] ([MaTT], [MaDH], [HinhThuc], [SoTien], [NgayTT], [TrangThai]) VALUES (1, 1, N'Tiền mặt', CAST(72000.00 AS Decimal(12, 2)), CAST(N'2025-10-25T08:31:00.000' AS DateTime), N'Đã thanh toán')
INSERT [dbo].[ThanhToan] ([MaTT], [MaDH], [HinhThuc], [SoTien], [NgayTT], [TrangThai]) VALUES (2, 2, N'Chuyển khoản QR', CAST(20000.00 AS Decimal(12, 2)), CAST(N'2025-10-25T09:16:00.000' AS DateTime), N'Đã thanh toán')
INSERT [dbo].[ThanhToan] ([MaTT], [MaDH], [HinhThuc], [SoTien], [NgayTT], [TrangThai]) VALUES (3, 3, N'Tiền mặt', CAST(36000.00 AS Decimal(12, 2)), CAST(N'2025-10-26T10:01:00.000' AS DateTime), N'Chưa thanh toán')
SET IDENTITY_INSERT [dbo].[ThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (1, N'Chủ cửa hàng')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (3, N'Nhân viên')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro]) VALUES (2, N'Quản lý')
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
/****** Object:  Index [UQ__TaiKhoan__2725D70B5DF2CDC5]    Script Date: 11/13/2025 5:58:12 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VaiTro__1DA55814536790C0]    Script Date: 11/13/2025 5:58:12 PM ******/
ALTER TABLE [dbo].[VaiTro] ADD UNIQUE NONCLUSTERED 
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ('Đang xử lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ('Thuong') FOR [LoaiKH]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ('Đang áp dụng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((0)) FOR [NguongCanhBao]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ('Ðang kinh doanh') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ('Ðang làm việc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuKho] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ('Còn bán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (getdate()) FOR [NgayTT]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (N'Chưa thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuKho]  WITH CHECK ADD FOREIGN KEY([MaPhieu])
REFERENCES [dbo].[PhieuKho] ([MaPhieu])
GO
ALTER TABLE [dbo].[ChiTietPhieuKho]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[DinhLuong]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[DinhLuong]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[KhuyenMai_SanPham]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[KhuyenMai_SanPham]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[PhieuKho]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuKho]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([LoaiKM]='SanPham' OR [LoaiKM]='HoaDon'))
GO
ALTER TABLE [dbo].[PhieuKho]  WITH CHECK ADD CHECK  (([LoaiPhieu]='Xuat' OR [LoaiPhieu]='Nhap'))
GO
USE [master]
GO


---xóa dữ liệu


-- PHẦN 1: XÓA SẠCH DỮ LIỆU CŨ (SẮP XẾP LẠI THỨ TỰ CHO ĐÚNG)
-- Xóa từ các bảng "con" (chi tiết) trước
DELETE FROM ThanhToan;
DELETE FROM ChiTietDonHang;
DELETE FROM KhuyenMai_SanPham;
DELETE FROM DinhLuong;
DELETE FROM ChiTietPhieuKho;
GO

-- Xóa các bảng "cha" (chính) có tham chiếu
DELETE FROM DonHang;
DELETE FROM PhieuKho;
DELETE FROM TaiKhoan;
GO

-- Xóa các bảng "gốc" (không còn tham chiếu nào)
DELETE FROM KhuyenMai;
DELETE FROM SanPham;
DELETE FROM NguyenLieu;
DELETE FROM NhaCungCap;
DELETE FROM KhachHang;
DELETE FROM NhanVien;
DELETE FROM VaiTro;
GO

-- PHẦN 2: RESET BỘ ĐẾM IDENTITY (LÀM MỚI ID TỰ TĂNG)
DBCC CHECKIDENT ('ThanhToan', RESEED, 0);
DBCC CHECKIDENT ('DonHang', RESEED, 0);
DBCC CHECKIDENT ('KhuyenMai', RESEED, 0);
DBCC CHECKIDENT ('PhieuKho', RESEED, 0);
DBCC CHECKIDENT ('VaiTro', RESEED, 0);
DBCC CHECKIDENT ('NhanVien', RESEED, 0);
DBCC CHECKIDENT ('KhachHang', RESEED, 0);
DBCC CHECKIDENT ('NhaCungCap', RESEED, 0);
DBCC CHECKIDENT ('SanPham', RESEED, 0);
DBCC CHECKIDENT ('NguyenLieu', RESEED, 0);
GO

-- PHẦN 3: THÊM DỮ LIỆU MẪU MỚI (Thứ tự INSERT đã đúng từ trước)

-- Bảng VAI TRÒ
INSERT INTO VaiTro (TenVaiTro) VALUES
(N'Chủ cửa hàng'),        -- MaVaiTro = 1
(N'Quản lý'),        -- MaVaiTro = 2
(N'Nhân viên');       -- MaVaiTro = 3
GO

-- Bảng NHÂN VIÊN (*** ĐÃ BỔ SUNG CỘT TRANGTHAI ***)
INSERT INTO NhanVien (TenNV, ChucVu, SoDienThoai, NgayVaoLam, TrangThai) VALUES
(N'Lê Văn Định', N'Chủ cửa hàng', '0901234567', '2023-01-15', N'Đang làm việc'), -- MaNV = 1
(N'Lê Minh Đức', N'Quản lý', '0912345678', '2023-03-20', N'Đang làm việc'), -- MaNV = 2
(N'Bùi Phước Hậu', N'Thu ngân', '0987654321', '2023-05-10', N'Đang làm việc'),-- MaNV = 3
(N'Nguyễn Văn Mỹ', N'Thu ngân', '0987654322', '2023-05-9', N'Nghỉ Làm'); 
GO

-- Bảng TÀI KHOẢN
INSERT INTO TaiKhoan (TenDangNhap, MatKhau, MaNV, MaVaiTro, TrangThai) VALUES
('dinh', '123', 1, 1, 1),
('duc', '123', 2, 2, 1),
('hau', '123', 3, 3, 1);
GO

-- Bảng KHÁCH HÀNG
INSERT INTO KhachHang (TenKH, SoDienThoai, DiaChi, LoaiKH) VALUES
(N'Trần Anh Hùng', '0911112222', N'123 Lê Lợi, Q1, TP.HCM', N'VIP'),          -- MaKH = 1
(N'Nguyễn Thị Lan', '0922223333', N'456 Nguyễn Trãi, Q5, TP.HCM', N'Thuong'), -- MaKH = 2
(N'Khách vãng lai', NULL, NULL, N'Thuong');                                  -- MaKH = 3
GO

-- Bảng NHÀ CUNG CẤP
INSERT INTO NhaCungCap (TenNCC, DiaChi, SoDienThoai) VALUES
(N'Cty Cà Phê Trung Nguyên', N'10 Đặng Lê Nguyên Vũ, Buôn Ma Thuột', '02623123456'), -- MaNCC = 1
(N'Cty Sữa Vinamilk', N'Số 10, Tân Trào, Q7, TP.HCM', '02854155555'),               -- MaNCC = 2
(N'Cty Nguyên Liệu Pha Chế ABC', N'22 Hàng Buồm, Hà Nội', '0243111222');            -- MaNCC = 3
GO

-- Bảng NGUYÊN LIỆU (*** ĐÃ BỔ SUNG CỘT TRANGTHAI ***)
INSERT INTO NguyenLieu (TenNL, DonViTinh, SoLuongTon, NguongCanhBao, TrangThai) VALUES
(N'Hạt Cà Phê Robusta', N'kg', 50.0, 10.0, N'Đang kinh doanh'),   -- MaNL = 1
(N'Sữa Tươi Không Đường', N'lít', 25.0, 20.0, N'Đang kinh doanh'), -- MaNL = 2
(N'Đường Cát Trắng', N'kg', 0.05, 5.0, N'Đang kinh doanh'),    -- MaNL = 3
(N'Bột Matcha Nhật Bản', N'kg', 5.0, 1.0, N'Đang kinh doanh'),     -- MaNL = 4
(N'Siro Vanilla', N'chai', 10.0, 2.0, N'Đang kinh doanh'),
(N'Siro Nho', N'chai', 0, 10,'Ngừng kinh Doanh');        -- MaNL = 5
GO

-- Bảng SẢN PHẨM
INSERT INTO SanPham (TenSP, LoaiSP, DonGia, DonVi, TrangThai) VALUES
(N'Cà Phê Đen', N'Cà phê', 20000.00, N'Ly', N'Còn bán'),  -- MaSP = 1
(N'Cà Phê Sữa', N'Cà phê', 25000.00, N'Ly', N'Còn bán'),  -- MaSP = 2
(N'Matcha Latte', N'Trà', 45000.00, N'Ly', N'Còn bán'),  -- MaSP = 3
(N'Bánh Croissant', N'Bánh', 30000.00, N'Cái', N'Còn bán'), -- MaSP = 4
(N'Espresso', N'Cà phê', 35000.00, N'Ly', N'Ngừng bán'); -- MaSP = 5
GO

-- Bảng ĐỊNH LƯỢNG (Công thức)
INSERT INTO DinhLuong (MaSP, MaNL, SoLuongCan) VALUES
(1, 1, 0.02), -- Cà Phê Đen: 0.02kg Cà Phê
(1, 3, 0.01), -- Cà Phê Đen: 0.01kg Đường
(2, 1, 0.02), -- Cà Phê Sữa: 0.02kg Cà Phê
(2, 2, 0.04), -- Cà Phê Sữa: 0.04lít Sữa
(3, 4, 0.015),-- Matcha Latte: 0.015kg Bột Matcha
(3, 2, 0.05); -- Matcha Latte: 0.05lít Sữa
GO

-- Bảng KHUYẾN MÃI
INSERT INTO KhuyenMai (TenKM, MoTa, LoaiKM, GiaTri, NgayBatDau, NgayKetThuc, TrangThai) VALUES
(N'Giảm 10% tổng hóa đơn', N'Áp dụng cho mọi hóa đơn trên 50k', 'HoaDon', 10.00, '2025-10-01', '2025-10-31', N'Đang áp dụng'), -- MaKM = 1
(N'Giảm 20% Matcha', N'Giảm giá 20% cho dòng sản phẩm Matcha', 'SanPham', 20.00, '2025-10-15', '2025-12-31', N'Đang áp dụng'), -- MaKM = 2
(N'Khai trương (Hết hạn)', N'Giảm giá 15%', 'HoaDon', 15.00, '2023-01-01', '2023-01-31', N'Đã kết thúc'); -- MaKM = 3
GO

-- Bảng LIÊN KẾT KHUYẾN MÃI VÀ SẢN PHẨM
INSERT INTO KhuyenMai_SanPham (MaKM, MaSP) VALUES
(2, 3); -- Khuyến mãi 2 (Giảm 20% Matcha) áp dụng cho Sản phẩm 3 (Matcha Latte)
GO

-- Bảng PHIẾU KHO (Nhập hàng)
INSERT INTO PhieuKho (NgayLap, LoaiPhieu, MaNV, MaNCC) VALUES
('2025-10-01 10:00:00', N'Nhap', 1, 1), -- Phiếu 1: NV An nhập Cà phê, Đường (MaPhieu = 1)
('2025-10-01 11:00:00', N'Nhap', 1, 2), -- Phiếu 2: NV An nhập Sữa (MaPhieu = 2)
('2025-10-02 14:00:00', N'Nhap', 1, 3); -- Phiếu 3: NV An nhập Matcha, Siro (MaPhieu = 3)
GO

-- Bảng CHI TIẾT PHIẾU KHO
INSERT INTO ChiTietPhieuKho (MaPhieu, MaNL, SoLuong, GiaNhap) VALUES
(1, 1, 50.0, 150000.00), -- Phiếu 1: Nhập 50kg Cà Phê
(1, 3, 0.05, 25000.00),  -- Phiếu 1: Nhập 0.05kg Đường
(2, 2, 100.0, 30000.00), -- Phiếu 2: Nhập 100lít Sữa
(3, 4, 5.0, 1000000.00), -- Phiếu 3: Nhập 5kg Matcha
(3, 5, 10.0, 80000.00);  -- Phiếu 3: Nhập 10 chai Siro
GO

-- Bảng ĐƠN HÀNG
INSERT INTO DonHang (NgayLap, MaKH, MaNV, TongTien, TrangThai, MaKM) VALUES
('2025-10-25 08:30:00', 1, 3, 72000.00, N'Đã hoàn thành', 1), -- ĐH 1: KH Hùng, NV Cường, KM 10% (MaDH = 1)
('2025-10-25 09:15:00', 2, 3, 20000.00, N'Đã hoàn thành', NULL),-- ĐH 2: KH Lan, NV Cường, không KM (MaDH = 2)
('2025-10-26 10:00:00', 3, 3, 36000.00, N'Đang xử lý', NULL); -- ĐH 3: Khách vãng lai, NV Cường, (MaDH = 3)
GO

-- Bảng CHI TIẾT ĐƠN HÀNG
INSERT INTO ChiTietDonHang (MaDH, MaSP, SoLuong, DonGia, GhiChu) VALUES
(1, 2, 2, 25000.00, N'Ít đá'), -- ĐH 1
(1, 4, 1, 30000.00, N'Hâm nóng'), -- ĐH 1
(2, 1, 1, 20000.00, NULL), -- ĐH 2
(3, 3, 1, 36000.00, N'KM 20%'); -- ĐH 3
GO

-- Bảng THANH TOÁN
INSERT INTO ThanhToan (MaDH, HinhThuc, SoTien, NgayTT, TrangThai) VALUES
(1, N'Tiền mặt', 72000.00, '2025-10-25 08:31:00', N'Đã thanh toán'),
(2, N'Chuyển khoản QR', 20000.00, '2025-10-25 09:16:00', N'Đã thanh toán'),
(3, N'Tiền mặt', 36000.00, '2025-10-26 10:01:00', N'Chưa thanh toán');
GO

PRINT N'HOÀN TẤT VIỆC XÓA VÀ TẠO DỮ LIỆU MẪU MỚI (ĐÃ CẬP NHẬT TRẠNG THÁI).';
GO